<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for integrante in familiares %}
    <h2>Nombre: {{integrante.nombre}}<h2/>
    <h4>Edad: {{integrante.edad}}<h4/>
    <h4>Nacimiento: {{integrante.nacimiento}}<h4/><br>
{% endfor %}
</body>
</html>